{% extends 'base.html' %}

{% block title %} - Delete{% endblock title %}

{% block content %}

<h3 class="title is-3">Delete {{ note }}?</h3>

<form action="." method="post">
  {% csrf_token %}
  <div class="field is-grouped">
      <div class="control">
        <button type="submit" class="button is-danger">Delete</button>
      </div>
      <div class="control">
        <a href="{% url 'notes:notes' %}" class="button is-link is-light">Cancel</a>
      </div>
    </div>
</form>


{% endblock content %}