{% extends 'base.html' %}

{% block content %}

<div class="columns">
    <div class="column">

        <h1 class="title">{{ note.title }}</h1>
        <p>{{ note.timestamp }}</p>
        
        <div class="content">
            {{note.body}}
        </div>
    </div>
</div>

<div class="level">
    <div class="level-left">
        <div class="level-item">
            <div class="card column">
            <a class="title is-6" href="{% url 'notes:notes' %}">
            <span class="icon has-text-info">
                <i class="fas fa-arrow-left"></i>
            </span>
            Back
            </a>
        </div>
        </div>
    </div>
</div>

{% endblock content %}